<a href="https://colab.research.google.com/github/caballeroarturo/ejemplosR/blob/main/ejemplo6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplo 6. Funciones `na.omit` y `complete.cases`

In [1]:
install.packages("pacman")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
pacman::p_load(dplyr)

In [3]:
# Ahora vamos a considerar el conjunto de datos `airquality`, observamos primero
# algunas de sus filas

head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [4]:
# El tipo de objeto que es y el tipo de variables que contiene

str(airquality)

'data.frame':	153 obs. of  6 variables:
 $ Ozone  : int  41 36 12 18 NA 28 23 19 8 NA ...
 $ Solar.R: int  190 118 149 313 NA NA 299 99 19 194 ...
 $ Wind   : num  7.4 8 12.6 11.5 14.3 14.9 8.6 13.8 20.1 8.6 ...
 $ Temp   : int  67 72 74 62 56 66 65 59 61 69 ...
 $ Month  : int  5 5 5 5 5 5 5 5 5 5 ...
 $ Day    : int  1 2 3 4 5 6 7 8 9 10 ...

Ver ayuda

In [5]:
?airquality

In [6]:
dim(airquality)

[1] 153   6

In [7]:
summary(airquality)

     Ozone           Solar.R           Wind             Temp
 Min.   :  1.00   Min.   :  7.0   Min.   : 1.700   Min.   :56.00
 1st Qu.: 18.00   1st Qu.:115.8   1st Qu.: 7.400   1st Qu.:72.00
 Median : 31.50   Median :205.0   Median : 9.700   Median :79.00
 Mean   : 42.13   Mean   :185.9   Mean   : 9.958   Mean   :77.88
 3rd Qu.: 63.25   3rd Qu.:258.8   3rd Qu.:11.500   3rd Qu.:85.00
 Max.   :168.00   Max.   :334.0   Max.   :20.700   Max.   :97.00
 NA's   :37       NA's   :7
     Month            Day
 Min.   :5.000   Min.   : 1.0
 1st Qu.:6.000   1st Qu.: 8.0
 Median :7.000   Median :16.0
 Mean   :6.993   Mean   :15.8
 3rd Qu.:8.000   3rd Qu.:23.0
 Max.   :9.000   Max.   :31.0

In [8]:
nrow(airquality)

[1] 153

In [9]:
# Con la función `complete.cases` podemos averiguar cuales son aquellas filas
# que no contienen ningún valor perdido (NA) y cuales son aquellas filas
# que tienen al menos un valor perdido.

bien <- complete.cases(airquality)

In [10]:
length(bien)

[1] 153

In [11]:
table(bien)

bien
FALSE  TRUE
   42   111

In [15]:
#Porcentaje
round(100*42/153,0)

[1] 27

In [16]:
sum(bien)

[1] 111

Podemos filtrar aquellos renglones sin NA's de la siguiente manera

In [22]:
data <- airquality[bien,]

In [23]:
dim(data)

[1] 111   6

In [24]:
data <- select(data, Ozone:Temp)

In [25]:
head(data)

  Ozone Solar.R Wind Temp
1 41    190      7.4 67
2 36    118      8.0 72
3 12    149     12.6 74
4 18    313     11.5 62
7 23    299      8.6 65
8 19     99     13.8 59

In [26]:
dim(data)

[1] 111   4

In [27]:
apply(data, 2, mean)

    Ozone   Solar.R      Wind      Temp
 42.09910 184.80180   9.93964  77.79279

In [29]:
apply(airquality %>% select(Ozone:Temp), 2, mean, na.rm = T)

     Ozone    Solar.R       Wind       Temp
 42.129310 185.931507   9.957516  77.882353

In [30]:
apply(airquality %>% select(Ozone:Temp), 2, mean, na.rm = F)

    Ozone   Solar.R      Wind      Temp
       NA        NA  9.957516 77.882353

In [32]:
# `na.omit` devuelve el objeto con casos incompletos eliminados
data <- airquality %>% select(Ozone:Temp)
m1 <- apply(na.omit(data), 2, mean)
m1

    Ozone   Solar.R      Wind      Temp
 42.09910 184.80180   9.93964  77.79279

In [33]:
b <- complete.cases(data)

In [35]:
m2 <- apply(data[b,], 2, mean)
m2

    Ozone   Solar.R      Wind      Temp
 42.09910 184.80180   9.93964  77.79279

In [38]:
m3 <- apply(airquality %>% select(Ozone:Temp), 2, mean, na.rm = T)
m3

     Ozone    Solar.R       Wind       Temp
 42.129310 185.931507   9.957516  77.882353

In [39]:
identical(m1, m3)

[1] FALSE