<a href="https://colab.research.google.com/github/caballeroarturo/ejemplosR/blob/main/Sesion_8/Ejemplo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
install.packages("pacman")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
pacman::p_load("DBI","RMySQL")

Para realizar una conexión, necesitamos un engine que nos ayude a establecer el nombre del servidor (servidio de DBMS), el nombre de la base de datos, host y, en su caso, usuario y contraseña:

In [ ]:
db.conn <- dbConnect(
  drv = RMySQL::MySQL(),
  dbname = "shinydemo",
  host = "shiny-demo.csa7qlmguqrf.us-east-1.rds.amazonaws.com",
  username = "guest",
  password = "guest")

Con la siguientes todas las tablas de datos que tenemos disponibles en nuestro database
y enlistar el nombre de los campos en cada una de ellas:

In [ ]:
dbListTables(db.conn)

[1] "City"            "Country"         "CountryLanguage"

In [ ]:
dbListFields(db.conn, 'City')

[1] "ID"          "Name"        "CountryCode" "District"    "Population"

In [ ]:
dbListFields(db.conn, 'Country')

 [1] "Code"           "Name"           "Continent"      "Region"
 [5] "SurfaceArea"    "IndepYear"      "Population"     "LifeExpectancy"
 [9] "GNP"            "GNPOld"         "LocalName"      "GovernmentForm"
[13] "HeadOfState"    "Capital"        "Code2"

In [ ]:
dbListFields(db.conn, 'CountryLanguage')

[1] "CountryCode" "Language"    "IsOfficial"  "Percentage"

La función dbGetQuery() nos permite realizar una consulta y extraer los datos obtenidos.

In [ ]:
db.data <- dbGetQuery(db.conn,
                      "SELECT a.Name AS City
                            , a.District
                            , a.Population AS CityPopulation
                            , b.Name AS Country
                            , b.Population AS CountryPopulation
                      FROM City AS a
                      INNER JOIN Country AS b
                      ON a.CountryCode = b.Code
                      ORDER BY CityPopulation DESC")

Los datos son almacenados en un dataframe, por lo que podemos user otras funciones
para manipularlos, procesarlos y transformarlos.

In [ ]:
class(db.data)

[1] "data.frame"

In [ ]:
head(db.data)

  City            District     CityPopulation Country     CountryPopulation
1 Mumbai (Bombay) Maharashtra  10500000       India       1013662000
2 Seoul           Seoul         9981619       South Korea   46844000
3 Shanghai        Shanghai      9696300       China       1277558000
4 Jakarta         Jakarta Raya  9604900       Indonesia    212107000
5 Karachi         Sindh         9269265       Pakistan     156483000
6 Istanbul        Istanbul      8787958       Turkey        66591000

En algunas ocasiones ejecutaremos queries para crear, eliminar o alterar tablas (DDL),
o para dar o revocar permisos, las cuales no regresan datos que podemos almacenar en un
dataframe. (DCL). Como la conexión que estamos realizando es una databse pública, nos podemos
implementar DDL o DCL, pero podemos ejemplificarlo de la siguiente forma:

In [ ]:
rs <- dbSendQuery(db.conn, "SELECT '¡Hola, mundo!' AS saludo")
rs

In [ ]:
dbFetch(rs)

  saludo
1 ¡Hola, mundo!

In [ ]:
dbClearResult(rs)

[1] TRUE

"Una vez terminadas nuestras consultas, debemos cerrar nuestra conexión:"

In [ ]:
dbDisconnect(db.conn)

[1] TRUE