<a href="https://colab.research.google.com/github/caballeroarturo/ejemplosR/blob/main/Sesion_8/Ejemplo3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## EJEMPLO 03: LECTURA Y MANIPULACIÓN DE ARCHIVOS JSON
"JSON es un acrónimo para JavaScript Object Notation, y fueron desarrollados e
implementados inicialmente dentro del lenguaje de programación JS.
Los archivos JSON son un formago ligero de intercambio de datos que solucionó los
problemas presentados por el estándar XML, sustituyéndolo y potenciando su popularidad
al punto en que el stándar JSON es aplicado y aceptado por múltiples lenguajes de programación,
APIs y diversos sistemas.

Un archivo JSON se caracteriza por almacenar valores (objetos de datos) a través de
claves (llaves) que funcionan como identificador del valor.

Para leer y manipular archivos JSON en R necesitamos de la siguiente paquetería:"

# install.packages("rjson")

In [3]:
install.packages("pacman")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
pacman::p_load(rjson)

La función fromJSON() permite leer archivos JSON locales o en una url:"

In [5]:
URL <- "https://tools.learningcontainer.com/sample-json-file.json"
JsonData <- fromJSON(file= URL)

class(JsonData)

[1] "list"

Los JSON son interpretados por R como una lista (al igual que Python), por lo que
podemos manipularlos de la misma forma y aplicar todo lo que hemos visto en el curso:

In [10]:
str(JsonData)

List of 5
 $ Name   : chr "Test"
 $ Mobile : num 12345678
 $ Boolean: logi TRUE
 $ Pets   : chr [1:2] "Dog" "cat"
 $ Address:List of 2
  ..$ Permanent address: chr "USA"
  ..$ current Address  : chr "AU"

In [11]:
JsonData$Name

[1] "Test"

In [12]:
is.vector(JsonData$Pets)

[1] TRUE

In [13]:
JsonData$Pets[1]

[1] "Dog"

In [14]:
JsonData <- as.data.frame(JsonData)

In [15]:
JsonData

  Name Mobile   Boolean Pets Address.Permanent.address Address.current.Address
1 Test 12345678 TRUE    Dog  USA                       AU
2 Test 12345678 TRUE    cat  USA                       AU

In [16]:
class(JsonData)

[1] "data.frame"